<hr/>

<div class="text-center">
  <p class="lead">Made Possible With Support From</p>
  <p class="partner-logos">
    <a href="http://www.codeforafrica.org" target="_blank"><img src="/img/logos/c4a.png" /></a>
    <a href="http://wbi.worldbank.org" target="_blank"><img src="/img/logos/wb.jpg" style="height: 65px;" /></a>
    <br /><br />
    <a href="http://hivos.org" target="_blank"><img src="/img/logos/hivos.png" style="height: 90px;" /></a>
    <a href="http://icfj.org" target="_blank"><img src="/img/logos/icfj.png" /></a>
    <a href="https://www.facebook.com/HacksHackersAfrica" target="_blank"><img src="/img/logos/hha.png" /></a>
  </p>
</div>
